<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.fakesinsa.project.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.fakesinsa.project.dto.ProductDto" alias="productDto"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/user-mapping.xml"/>
        <mapper resource="mybatis/product-mapping.xml"/>
    </mappers>

</configuration>